#widthText{
    -fx-font-size: 16;
    -fx-margin: 0;
}
#heightText{
    -fx-font-size: 16;
    -fx-margin: 0;
}
#widthGame{
    -fx-font-size: 12;
    -fx-margin: 0;
    -fx-pref-width: 10;
}
#heightGame{
    -fx-font-size: 12;
    -fx-margin: 0;
    -fx-pref-width: 10;
}
#playBtn{
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-padding: 5 10;
}
